- f.inputs do
  = f.input :name, :label => t("label.name")
  = f.input :event_date, :as => :string, :label => t("label.event-date"), :input_html => { :class => 'datepicker' }
  = f.input :mandatory, :as => :select, :label => t("label.mandatory"), :collection => Raid::MANDATORY
- f.buttons do
  = f.commit_button(t("label.save"))
  = f.commit_button(t("label.cancel"), :value => t("label.cancel"))
