%tr{:class => 'loot-row', :loot_id => "#{loot.id}"}
  %td
    = loot.status
  %td
    = link_to(loot.member.name, member_url(loot.member), :class => loot.member.css_class )
  %td
    = item_link(loot.drop.item)
  %td
    = link_to(loot.raid.name, raid_url(loot.raid))
  %td
    = loot.raid.event_date.to_s(:us)
  %td
    = loot.drop.encounter.boss.name
  - admin_only do
    %td
      = link_to(t("label.edit"), edit_loot_url(loot))
      = link_to(t("label.delete"), loot_url(loot), :confirm => 'Are you sure?', :class => "delete-link")
