= page_title(t(".title"))
= link_to(t(".new"), new_item_url) if admin?
%br
%br
#items
  %form{:name => "sform", :action => "", :style => "display:inline"}
  %table.filter-menu
    %tr
      %td{:align => 'right'}
        %label
          Filter on name:
      %td
        = text_field_tag(:query, @query, :autocomplete => 'off')
        = hidden_field_tag(:sort_column, @sort_column)
        = hidden_field_tag(:sort_direction, @sort_direction)
        = hidden_field_tag(:page, @page)
#dataTable
  = render(:partial => "items.html.haml", :locals => {:items => @items})